<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.InformationsDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.Informations">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="replyCount" jdbcType="INTEGER" property="replycount" />
    <result column="viewCount" jdbcType="INTEGER" property="viewcount" />
    <result column="reportTime" jdbcType="TIMESTAMP" property="reporttime" />
    <result column="lastPostTime" jdbcType="TIMESTAMP" property="lastposttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, replyCount, viewCount, reportTime, lastPostTime
  </sql>



</mapper>